.homePageWrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ACBEB7;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.formWrapper .homePageLogo{
  height: 90px;
  width: 180px;
  margin-bottom: 30px;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #30C48D;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btnJoin{
  background: #30C48D;
  width: 100px;
  margin-left: auto;
}

.btnJoin:hover{
  background: #4aed88;
}

.createInfo{
  margin: 0 auto;
  margin-top: 10px;
}

.createNewBtn{
  color: #30C48D;
  text-decoration: none;
  border-bottom: 1px solid #30C48D;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #4aed88;
  border-color: #4aed88;
}